@import "tailwindcss";

@theme {
  --color-brand-primary: #8b5cf6;
  --color-brand-secondary: #06b6d4;
  --color-brand-accent: #facc15;
  --color-bg-dark: #ffffff;
  /* Revert to White */
  --color-bg-card: #f4f4f5;
  /* Light Gray Card */
  --color-text-main: #18181b;
  /* Black Text */
  --color-text-muted: #52525b;
  /* Gray Text */

  --font-sans: 'Instrument Sans', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

:root {
  color-scheme: light;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(6, 182, 212, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(6, 182, 212, 0.2) 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}